body{
// color palette
color: #999;
color: #555;
color: #333;
background-color: #428bca;
  color: #cdddeb;
    color: #fff;
    color: #999;
    background-color: #f5f5f5;
      color: #999;
        background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}